In [1]:
import pandas as pd

In [2]:
split_dates = pd.date_range(start='2016-04-01',
                                end='2018-02-01',
                                freq='1'+'MS').strftime('%Y-%m-%d').tolist()

In [8]:
split_dates

['2016-04-01',
 '2016-05-01',
 '2016-06-01',
 '2016-07-01',
 '2016-08-01',
 '2016-09-01',
 '2016-10-01',
 '2016-11-01',
 '2016-12-01',
 '2017-01-01',
 '2017-02-01',
 '2017-03-01',
 '2017-04-01',
 '2017-05-01',
 '2017-06-01',
 '2017-07-01',
 '2017-08-01',
 '2017-09-01',
 '2017-10-01',
 '2017-11-01',
 '2017-12-01',
 '2018-01-01',
 '2018-02-01']

In [3]:
fd= open('split_train.sql', 'r')
split_raw_sql = fd.read()
fd.close()

In [4]:
split_dates[0].replace('-','')

'20160401'

In [5]:
for i in range(len(split_dates)):
    split_sql_new = split_raw_sql.format(date_start='2016-03-01',
                     date_end=split_dates[i],
                     date_start_string='20160301',date_end_string=split_dates[i].replace('-',''))
    with open('split_data_{date_end_string}.sql'.format(date_end_string=split_dates[i].replace('-','')), 'w') as file:
        file.write(split_sql_new)
        file.close()